* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.card-container {
    display: flex;
    gap: 12px;

    .card {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        background-color: #0070FF;
    }
}